www.ashelkov.com {
  redir https://ashelkov.com permanent
}

ashelkov.com {
  root * /var/www/ashelkov
  file_server
}

finmeplanteb.ashelkov.com {
  reverse_proxy web-finmep-lanteb-1:80
}

console.minio.ashelkov.com {
  reverse_proxy web-minio-1:9001
}
minio.ashelkov.com [BUCKET_NAME].minio.ashelkov.com {
  reverse_proxy web-minio-1:9000
}
